/* Enter your custom styles here */

.greybg {
    background-color: #f2f2f2
}

span.sapMBtnInner.sapMBtnEmphasized {
    background: #ffb81c !important;
    background-color: transparent;
    border-radius: 0px;
    color: #1a1a1a;
    font-weight: bolder;
    box-sizing: border-box;
}

.whiteBg{
    background-color: white;
}